<a href="https://colab.research.google.com/github/sarabjeet050/Learning_Python/blob/main/1_1_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# First Python output : Say "Hello" to the world in Python
print("Hello! Python.")

Hello! Python.

In [ ]:
# Check the Python version
import sys
print(sys.version)

3.8.10 (default, Nov 14 2022, 12:59:47)
[GCC 9.4.0]

In [ ]:
# Practicing on writing comments -- after # comments only doesn't print
print("Hello! World.") #This line prints a string
# print("Hi!") # this is actual piece of code but commented for the moment to not be executed.

Hello! World.

#### Errors in Python

In [ ]:
# print string as error message 
frint("Hello! World.")

NameError: ignored

In [ ]:
# here frint not built-in function and not prior defined by user so error occured 
# tells where error occured
# what type of error occured(NameError)

In [ ]:
# built in error message -- Syntax Error
print("Hello! World.)

SyntaxError: ignored

In [ ]:
# Python is interpreted language not compiler language. It interprets line by line when it executes the code.
# It stops executing code after when error occured (until it is explicitly handled.)

In [ ]:
# print string and error to see the running order
print("This will be printed")
frint("This will cause an error") #undefined function
print("This will NOT be printed") #as error occured above so Python doesn.t interpret this

This will be printed

NameError: ignored

#### Exercise: Your First Program

In [ ]:
# use  print() function to print out "Hello! World."
print("Hello! World.")

Hello! World.

In [ ]:
# print out "Hello! World." and comment it "Print the traditional hello world"
print("Hello! World.") #Print the traditional hello world

Hello! World.

#### Types of objects in Python

###### string: characters string(text); interger: numbers(-1,0,100); float: real numbers(3.14,-3.09)

In [ ]:
# Integer 
11

11

In [ ]:
# Float
5.2

5.2

In [ ]:
# String
"Hello, Python 101!"

'Hello, Python 101!'

###### type function : for datatype of *object* (int, float, str)

In [ ]:
# Type of 12
type(12)

int

In [ ]:
# Type of 3.14
type(3.14)

float

In [ ]:
# Type of "Hello, Python 101!"
type("Hello, Python 101!")

str

In [ ]:
# use type() function to check the object type of 12.0
type(12.0)

float

#####Integers : can be +ve or -ve

In [ ]:
# Print the type of -1
type(-1)

int

In [ ]:

# Print the type of 4
type(4)

int

In [ ]:

# Print the type of 0
type(0)

int






##### Float: real numbers(numbers with decimal)

In [ ]:
# System settings about float type object
import sys
print(sys.float_info)  # to  know range of float numbers allowed in machine

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [ ]:
# Print the type of 1.0
type(1.0) #Note : 1 is int and 1.0 is float

float

In [ ]:
# Print the type of 0.5
type(0.5)

float

#### Converting from one object type to different one.

##### Converting integers to float

In [ ]:
# Verify that this is an integer   
type(2)

int

##### Converting(Cast) integers to floats

In [ ]:
# Convert 2 to a float 
float(2)

2.0

In [ ]:
# Convert integer 2 to float and check its type
type(float(2))

float

In [ ]:
# Note: When convert integer into float, value(i.e.,significand) of number don't change.
# But, when cast float(1.1) to integer(1), we lose the decimal information(i.e., 0.1)

In [ ]:
# Casting 1.1 to integer will result in lose of information
int(1.1)

1

##### Converting from strings to integers or floats

In [ ]:
# Convert string to an integer
int('1')

1

In [ ]:
# But if try to convert a string that is not a perfect match to integer, will get error

In [ ]:
# Convert a string into an integer with error
int("1 or 2 people")

ValueError: ignored

In [ ]:
#Converting string containing floating point numbers into float objects

In [ ]:
# Convert string "1.2" into float 
float("1.2")

1.2

In [ ]:
# Note: Strings can be with sigle quotes('1.2') or double quotes("1.2"), but not both(e.g., ("1.2')

##### Converting number to string

In [ ]:
# Convert an integer to string
str(1)

'1'

In [ ]:
# Convert a float to string
str(1.2)

'1.2'

##### Boolean data type (True/False): bool

In [ ]:
# Value True
True

True

In [ ]:
# Value False
False

False

In [ ]:
# Type of True with capital 'T'
type(True)

bool

In [ ]:
# Type of False with capital 'F'
type(False)

bool

##### Casting boolean objects to other types and vice-versa

In [ ]:
# Convert True to int 
int(True)

1

In [ ]:
# Convert 1 to bool 
bool(1)

True

In [ ]:
# Convert 0 to bool
bool(0)

False

In [ ]:
# Convert True to float
float(True)

1.0

In [ ]:
# Note: boolean with value True is int(1) and float(1.0).
# False is int(0) and float(0.0)
# bool(1) or bool(1.0): True and bool(0) or bool(0.0) : False

#### Exercise: Types

In [1]:
# datatype of result of 6/2:
type(6/2)

float

In [2]:
# type of result of 6//2:
type(6//2)

int

#### Expressions and Variables

In [3]:
# Addition operation expression
43 + 60 + 13 + 23

139

In [4]:
# Subtraction operation (using minus)
50 - 60 # negative result

-10

In [5]:
# Multiplication operation (using asterik)
5 * 5

25

In [6]:
# Division operation (using forward slash : for float type result or division )
25 / 5

5.0

In [7]:
26 / 5

5.2

In [8]:
# Integer division operation (using double forward slash)
25 // 5

5

#### Exercise: Expression

In [11]:
# Expression to calculate how many hours in 160 minutes
# 60mins = 1hour

hours = 160/60 #comment this
# or
# hours = 160//60 # or comment this
print(hours,"hours")

2 hours

In [12]:
# Mathematical Expression
30 + 2 * 60

150

In [13]:
# Like Mathematics, parentheses have priority
(30 + 2) * 60

1920

#### Variables

In [14]:
# Store value into variable
x = 43 + 60 + 16 + 23

In [15]:
# Print out the value in variable x
print(x)

142

In [16]:
# Use another variable to store the operation between variable x and value
y = x / 60
y

2.3666666666666667

In [17]:
# Overwrite variable with new value
x = x / 60
x

2.3666666666666667

In [18]:
# Name the varaibles meaningfully
total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [19]:
# Meaningful variable calculation: Total length of albums in hours using total_min
total_hours = total_min / 60
total_hours

2.3666666666666667

In [ ]:
# Complicate expression 
total_hours = (43 + 42 + 57) / 60 # total_hours in one-go single expression 
total_hours

#### Exercise: Expression and variables in Python

In [20]:
# value of x with expression
x = 3 + 2 * 2
x

7

In [21]:
# value of y with expression
y = (3 + 2) * 2
y

10

In [23]:
# value of z with z = x + y
z = x + y
z

17