<a href="https://colab.research.google.com/github/sarabjeet050/Learning_Python/blob/main/1_2_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## String Operations

#### What are Strings?

In [ ]:
# Use quotation marks for defining string
"Michael Jackson"

'Michael Jackson'

In [ ]:
# Use of single quotation maarks for defining string 
'Michael Jackson'

'Michael Jackson'

In [ ]:
# Digits and spaces in string
'1 2 3 4 5 6'

'1 2 3 4 5 6'

In [ ]:
# Special characters in string
"@#2_#]&*^%$"

'@#2_#]&*^%$'

In [ ]:
# print the string 
print("hello")

hello

In [ ]:
# Assign string to variable 
Name = "Michael Jackson"
Name

'Michael Jackson'

### Indexing

In [ ]:
# Strings are ordered sequence of characters. Each element/character is accessed using an index represented by the array of numbers.

In [ ]:
# Indexing starts with index 0, it means first element is on the index 0.

In [ ]:
# Print the first element in the string
print(Name[0])

M

In [ ]:
# Print the element on the index 6 in the string
print(Name[6])

l

In [ ]:
# Print the element on the index 13 in the string
print(Name[13])

o

#### Negative Indexing

In [ ]:
# Negative indexing helps to count the element from end of the string.
# The last element is given by index -1

In [ ]:
# Print the last element of the string
print(Name[-1])

n

In [ ]:
# Print the first element in the string
print(Name[-15])

M

In [ ]:
# Find the length of the string (number of characters in the string)
len("Michael Jackson")

15

### Slicing

In [ ]:
# Slicing used to obtain multiple characters from a string.
# When taking the slicing, first number(starts at 0) means index, and the second number(starts at 1) means ending last element from the index
# Also second number element not included in slice.

In [ ]:
# Take the slice on variable Name with only index 0 to index 3
Name[0:4]

'Mich'

In [ ]:
# Slice variable Name from index 8 to 12
Name[8:12]

'Jack'

#### Stride

In [ ]:
# Striding is hoping with indicated skips(skipped numbers). 
# It is third/last part of slicing.

In [ ]:
# Get every second element. The elements on index 0, 2, 4, 6,...
Name[::2]

'McalJcsn'

In [ ]:
# Combining Stride and Slicing 
# Get every second element in the range from index 0 to 4
Name[0:5:2]

'Mca'

#### Concatenate Strings

In [ ]:
# Combining Strings using addition symbol
Statement = Name + " is the best"
Statement

'Michael Jackson is the best'

In [ ]:
# Replicate the values of the string. Multiply the string with number of times to replicate it.
# Print the string for 3 times
3 * "Michael Jackson"

'Michael JacksonMichael JacksonMichael Jackson'

In [ ]:
# Create new string using the original variable and concatenated with a new string.
# Concatenated string

Name = "Michael Jackson"
Name = Name + "is the best"
Name

'Michael Jacksonis the best'

### Escape Sequences

In [ ]:
# Back slash represent the beginning of the escape sequences. It represent the strings that may be difficult to input.
# For e.g. "\n" represents new line

In [ ]:
# New line escape sequence
print("Michael Jackson \n is the best")

Michael Jackson
 is the best

In [ ]:
# Tab escape sequence ("\t")
print("Michael Jackson \t is the best")

Michael Jackson 	 is the best

In [ ]:
# Include back slash in the string (using double back slash)
print("Michael Jackson \\ is the best")

Michael Jackson \ is the best

In [ ]:
# r used before string displays the string as raw string.
# place r before string to display the backslash
print(r"Michael Jackson \ is the best")

Michael Jackson \ is the best

### String Operations

In [ ]:
# Convert all the characters of the string in upper case

A = "Thriller is the sixth studio album"
print("before upper: ",A)
B = A.upper()
print("after upper: ",B)

before upper:  Thriller is the sixth studio album
after upper:  THRILLER IS THE SIXTH STUDIO ALBUM

In [ ]:
# Replace the old substring with new target substring, if the character segment is found in the string
A = "Michael Jackson is the best"
B = A.replace("Michael", "Jannet")
B

'Jannet Jackson is the best'

In [ ]:
# Replace the old substring with new target substring by removing some punctuations.
a = "Hello! Michael Jackson has: 12 characters."
print("Before replacing punctuations:\n",a)
a = a.replace("!","").replace(":","").replace(".","")
print("After replacing punctuations:\n",a)

Before replacing punctuations:
 Hello! Michael Jackson has: 12 characters.
After replacing punctuations:
 Hello Michael Jackson has 12 characters

In [ ]:
# Find the substring in the string. Only the index of the first element of substring in string is output.
Name = "Michael Jackson"
Name.find("el")

5

In [ ]:
# Find the substring in the string 
Name.find("Jack")

8

In [ ]:
# If cannot find the substring in string, then return -1
Name  = "Michael Jackson"
Name.find("Jadsafg")

-1

In [1]:
# split() : splits the string at specified seperator and returns a list
# Split the  substring into list
name = "Michael Jackson"
split_name = name.split()
split_name

['Michael', 'Jackson']

#### RegEx
###### short for Regular Expression : python tool to match and handling strings.
###### RegEx module provides for several functions for regular expressions, including search, split, findall, and sub.
###### Python built-in module for RegEx is re.

In [3]:
# Import Regex module
import re

In [4]:
# search() function: searches for specified patterns within a string.

In [5]:
# Steps to search for "Jackson" in "Michael Jackson is the best" using search() of re module.
text = "Michael Jackson is the best"

# Define the pattern to search for 
pattern = r"Jackson"

# Use search() function to search for the pattern in the string
result = re.search(pattern, text)

# Check if a match was found
if result:
  print("Match found!", result)
else:
    print("Match not found.", result)

Match found! <re.Match object; span=(8, 15), match='Jackson'>

###### RegEx(Regular Expressions) : patterns used to match and manipulate strings of the text.

In [6]:
# Special Sequences to match specific characters or patterns.

# \d : matches any digit character (0-9)
# text = "123"
# pattern = r"\d\d\d"

# \D : matches any non-digit character 
# text = "hello"
# pattern = r"\D\D\D\D\D"

# \w : matches any word character (a-z, A-Z, 0-9, _)
# text = "hello"
# pattern = r"\w\w\w\w\w"

# \W : matches any non-word character (special characters)
# text = "$#@%"
# pattern = r"\W\W\W\W"

# \s : matches any whitespace character (space, tab, newline, etc)
# text = "hello world"
# pattern = r"\w\w\w\w\w\s\w\w\w\w\w"

# \S : matches any non-whitespace character
# text = "hello_world"
# pattern = r"\S\S\S\S\S\S\S\S\S\S\S"

# \b : matches any boundary between a word and a non-word character (matches empty string, but only at beginning or end of a word)
# text  = "The cat sat on the mat"
# pattern = r"\bcat\b"

# \B : matches any position that is not a word boundary (matches empty string, but not at beginning or end of a word)
text  = "The cat sat on the mat"
# text = "category" 
pattern = r"cat\B"

result = re.search(pattern, text)
#Check for matched pattern. 
if result:
  print("Match found!", result)
else:
  print("Match not found.", result)

Match not found. None

In [7]:
# Special Sequence Examples

In [8]:
# using \d special sequence  in a regular expression pattern
pattern = r"\d\d\d\d\d\d\d\d\d\d" # Matches any ten consecutive digits.
text = "My Phone number is 1234567890"
m = re.search(pattern, text) # search for first such pattern in text

if m :
  print("Phone number found:", m.group())
else: 
  print("Phone number not found.")

Phone number found: 1234567890

In [ ]:
# using \W special sequence in a regular expression pattern 
pattern = r"\W" # Matches any non-word character
text = "Hello! World."
matches = re.findall(pattern, text) # find all such pattern in text 

print("Matches: ", matches)

Matches:  ['!', ' ', '.']

###### RegEx's findall() function finds all occurences of specified pattern within a string.

In [ ]:
s2 = "Michael Jackson was a singer and known as the 'King of Pop'"

# use findall() function to find all occurences of "as" in the string.
result = re.findall("as",s2)

# Print out the list of matched words
print(result)

['as', 'as']

###### RegEx's split() function splits a string into an array of substring based on a specific pattern.

In [ ]:
# Use split() function to split the string by "\s"
split_array = re.split("\s", s2)

# split_array contains all the substrings, split by whitespace characters
print(split_array)

['Michael', 'Jackson', 'was', 'a', 'singer', 'and', 'known', 'as', 'the', "'King", 'of', "Pop'"]

###### RegEx's sub() function is used to replace all occurrences of a pattern in a string with a specified replacement

In [11]:
s2 = "Michael Jackson was a singer and known as the 'King of Pop'"

# Define the regular expression pattern to search for
pattern = r"King of Pop"

# Define the replacement string
replacement = "legend"

# Use the sub function to replace the pattern with the replacement string
new_string = re.sub(pattern, replacement, s2, flags= re.IGNORECASE)

# Print the new string obtained by replacing the pattern by replacement string in original string
print(new_string)

Michael Jackson was a singer and known as the 'legend'

### Exercise

In [ ]:
  # Value of A
  A = "1"
  print(A)

1

In [ ]:
# Value of B
B = "2"
print(B)

2

In [ ]:
# Value of C
C = A + B
print(C)

12

In [ ]:
# Print first three elements of variable D
D = "ABCDEFG"
print(D[0:3])
# or
# print(D[:3])

ABC

In [ ]:
# Use stride of 2 to print every 2nd character of the string
E = "clockr1e1c1t"
print(E[::2])

cok111

In [12]:
# Print a backslash
print("\\")
# print(r"\ ")

\

In [ ]:
# Convert to F upper case 
F = "You are wrong"
F.upper()

'YOU ARE WRONG'

In [13]:
# Convert f2 to lower case
f2 = "YOU ARE RIGHT" 
print(f2.lower())

you are right

In [15]:
# Find first index of substring "snow" in variable G
G = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"

In [16]:
G.find("snow")

95

In [17]:
# In variable G replace "Mary" with "Bob"
G.replace("Mary","Bob")

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'

In [18]:
# In variable G replace , with .
G.replace(",",".")

'Mary had a little lamb Little lamb. little lamb Mary had a little lamb Its fleece was white as snow And everywhere that Mary went Mary went. Mary went Everywhere that Mary went The lamb was sure to go'

In [19]:
# In variable G, split the substring to list
print(G.split())

['Mary', 'had', 'a', 'little', 'lamb', 'Little', 'lamb,', 'little', 'lamb', 'Mary', 'had', 'a', 'little', 'lamb', 'Its', 'fleece', 'was', 'white', 'as', 'snow', 'And', 'everywhere', 'that', 'Mary', 'went', 'Mary', 'went,', 'Mary', 'went', 'Everywhere', 'that', 'Mary', 'went', 'The', 'lamb', 'was', 'sure', 'to', 'go']

In [22]:
# In string s3, find the four consecutive digit characters using "\d" and search() function
import re
s3 = "House number- 1105"
pattern = r"\d\d\d\d"
# Use re.search() function to find "\d\d\d\d" 4 consecutive digits characters in the string
result = re.search(pattern, s3)

# Check if a match is found
if result:
  print("Digits found: ",result.group())
else:
  print("Digits not found!")

Digits found:  1105

In [24]:
# In the string str1, replace "fox" with "bear" using sub() function

import re
str1= "The quick brown fox jumps over the lazy dog."
# Use of re.sub() function to replace "fox" with "bear"  
new_str1 = re.sub("fox","bear",str1,flags = re.IGNORECASE)

print(new_str1)

The quick brown bear jumps over the lazy dog.

In [25]:
# In the str2 find all the occurences of "woo" using findall() function

import re
str2= "How much wood would a woodchuck chuck, if a woodchuck could chuck wood?"
# Use re.sub() function to find all occurences of "woo" in the string str2
matches = re.findall(r"woo",str2)
print(matches)

['woo', 'woo', 'woo', 'woo']