<a href="https://colab.research.google.com/github/sarabjeet050/Learning_Python/blob/main/2_1_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#### Tuple can contain different types of objects(string, integer, float) in it.

In [3]:
# Create first tuple
tuple1 = ("disco",10,1.2)
tuple1

('disco', 10, 1.2)

In [4]:
# Print the type of tuple just created
type(tuple1)

tuple

#### Indexing
##### Each element of the tuple is accessed using index. Each element can be obtained by the name of the tuple followed by sqaure bracket with index number (which starts from 0 to length-1)

In [5]:
# Print the variable on each index
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [6]:
# Print the type of value on each index
print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

##### Negative indexing
##### It starts with -length of tuple to -1

In [7]:
# Use negative index to get the value of the last element
print(tuple1[-1])

1.2

###### Display the two next elements

In [8]:
# Use negative index to get value of second last element
print(tuple1[-2])

10

In [9]:
# Use negative index to get value of third last element
print(tuple1[-3])

disco

#### Concatenate Tuples
###### Concatenate or combine tuples using the + sign

In [11]:
# Concatenate two tuples
tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

#### Slicing
###### Slicing tuples obtain new tuple containing corresponding elements.

In [12]:
# Slice from index 0 to 2 
print(tuple2[0:3])

('disco', 10, 1.2)

###### Obtain last two elements of the tuple

In [13]:
# Slice from index 3 to 4
print(tuple2[3:5])

('hard rock', 10)

###### Length of tuple

In [14]:
# Get length of tuple
print(len(tuple2))

5

#### Sorting

In [1]:
# A sample tuple
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2 )
Ratings

(0, 9, 6, 5, 10, 8, 9, 6, 2)

In [3]:
# Sort the tuple and save it in a new one
RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

#### Nested Tuple
##### A tuple can contain another tuple as well as more complex data types. This process is called 'nesting'

In [5]:
# Create a nested tuple
NestedT = (1, 2, ("pop","rock"), (3, 4), ("disco",(1,2)))
NestedT

(1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)))

In [6]:
# Each element in the tuple including other tuples can be obtained via an index

In [9]:
# Print elements on each index
#print(len(NestedT))
print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [10]:
# Can use second index to access other nested tuple

In [12]:
# Print element on each index, including the nested index
print("Element 2,0 of Tuple: ", NestedT[2][0])
print("Element 2,1 of Tuple: ", NestedT[2][1])
print("Element 3,0 of Tuple: ", NestedT[3][0])
print("Element 3,1 of Tuple: ", NestedT[3][1])
print("Element 4,0 of Tuple: ", NestedT[4][0])
print("Element 4,1 of Tuple: ", NestedT[4][1])

Element 2,0 of Tuple:  pop
Element 2,1 of Tuple:  rock
Element 3,0 of Tuple:  3
Element 3,1 of Tuple:  4
Element 4,0 of Tuple:  disco
Element 4,1 of Tuple:  (1, 2)

In [13]:
# Can access strings in the second nested tuple using a third index

In [15]:
# Print the first element in the second nested tuples
NestedT[2][1][0]

'r'

In [16]:
# Print the second element in the second nested tuples
NestedT[2][1][1]

'o'

###### Visualize the process in a tree form. Each new index corresponds to deeper level in the tree.

###### Can access elements nested deeper in the tree with a fourth index

In [19]:
# Print the first element in  the second nested tuple corresponding to fourth index
print(NestedT[4][1][0])

1

In [20]:
# Print the second element in  the second nested tuple corresponding to fourth index
print(NestedT[4][1][1])

2

#### Quiz on Tuple

In [21]:
# sample tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [22]:
# Find the length of the tuple, genres_tuple
print(len(genres_tuple))

8

In [23]:
# Access the element w.r.t. index 3
print(genres_tuple[3])

hard rock

In [24]:
# Use slicing to obtain indices 3,4 and 5 
print(genres_tuple[3:6])

('hard rock', 'soft rock', 'R&B')

In [25]:
# Find first two elements of tuple genres_tuple
print(genres_tuple[0:2])

('pop', 'rock')

In [28]:
# Find first index of "disco"
genres_tuple.index("disco")

7

In [29]:
# Generate a sorted List from the Tuple C_tuple = (-5, 1,-3)
C_tuple = (-5, 1,-3)
print("Before sorting : ", C_tuple)
C_tuple_sorted = sorted(C_tuple)
print("After sorting : ", C_tuple_sorted)

Before sorting :  (-5, 1, -3)
After sorting :  [-5, -3, 1]