<a href="https://colab.research.google.com/github/sarabjeet050/Learning_Python/blob/main/2_2_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###### A list is a sequential collection of different objects such as integers, strings , float, other tuples and other lists as well.

#### Indexing

###### The address of each element within a list is called an index. An index is used to access and refer to within a list.

In [1]:
# List is created using [] just like tuple.

In [3]:
# Create a list
L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

###### Can use negative or regular index with a list

In [4]:
# Print the elements on each index
print("First element using positive and negative indexing:\n Positive: ",L[0],"\n Negative: ",L[-3])
print("Second element using positive and negative indexing:\n Positive: ",L[1],"\n Negative: ",L[-2])
print("Third element using positive and negative indexing:\n Positive: ",L[2],"\n Negative: ",L[-1])

First element using positive and negative indexing:
 Positive:  Michael Jackson
 Negative:  Michael Jackson
Second element using positive and negative indexing:
 Positive:  10.1
 Negative:  10.1
Third element using positive and negative indexing:
 Positive:  1982
 Negative:  1982

##### List Content

###### List can contain strings, floats, integers. Can also nest other lists, and other tuples or even other data structures. Same indexing conventions apply for nesting.

In [5]:
# Sample List

["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

##### List Operations

In [6]:
# Sample List

L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [7]:
# List Slicing 
L[3:5]

['MJ', 1]

In [8]:
# Use extend method to add new elements(multiple possible but as a list) to the list
L = ["Michael Jackson",10.2]
print("Before adding elements: ",L)
L.extend(['pop',10])
print("After adding elements: ",L)

Before adding elements:  ['Michael Jackson', 10.2]
After adding elements:  ['Michael Jackson', 10.2, 'pop', 10]

In [9]:
# Similarly we apply append instead of extend, which adds only one element to the list( even if a list is added)
L = ["Michael Jackson",10.2]
print("Before adding elements: ",L)
L.append(['pop',10])
print("After adding elements: ",L)

Before adding elements:  ['Michael Jackson', 10.2]
After adding elements:  ['Michael Jackson', 10.2, ['pop', 10]]

In [11]:
# Append the list ['a','b'], which is nested list as a new element added to existing list.
L.append(['a','b'])
L

['Michael Jackson', 10.2, ['pop', 10], ['a', 'b'], ['a', 'b']]

##### Lists are mutable i.e. its elements can be changed or modified.

In [14]:
# Change the first element based on index
A = ["disco", 10, 1.2]
print("Before change: ", A)
A[0] = "hard rock"
print("After change: ", A)

Before change:  ['disco', 10, 1.2]
After change:  ['hard rock', 10, 1.2]

##### Can delete an element using del command

In [15]:
# Delete first element
print("Before change: ", A)
del(A[0])
print("After change: ", A)

Before change:  ['hard rock', 10, 1.2]
After change:  [10, 1.2]

##### Can convert a string into a List using split. split method translates every group of characters seperated by space into an element in a list.

In [16]:
# Split the string, default is by space
"hard rock".split()

['hard', 'rock']

###### Can use split function to seperate strings on a specific character. Pass the specific character in split on as an argument(e.g. comma) and result is list, and each element corresponds to a set of characters that have been seperated by that special character(e.g. comma)

In [17]:
# Split the string by comma
"A,B,C,D".split(",")

['A', 'B', 'C', 'D']

#### Copy and Clone

##### Copy (copy by reference)
###### Set one variable B equal to A; both A and B are referencing the same list in memory.

In [18]:
# Copy (copy by reference) the list A
A = ['hard rock', 10, 1.2]
B = A
print('A: ', A)
print('B: ', B)

A:  ['hard rock', 10, 1.2]
B:  ['hard rock', 10, 1.2]

##### Initially value of first element in B is set to "hard rock". If we change the first element in A to "banana", we get an unexpected side effect. As A and B are referencing to the same list. So if we change list A, then B also changes. If we check first element of B we get "banana" instead of "hard rock"

In [19]:
# Examine copy by reference
print("B[0]: ",B[0])
A[0] = "banana"
print("B[0]: ",B[0])

B[0]:  hard rock
B[0]:  banana

##### Clone (clone by value)

In [20]:
# Clone(clone by value) the list A
B = A[:]
B

['banana', 10, 1.2]

###### Variable B references a new copy or clone of original list

###### Now changes to A, won't change B

In [21]:
print('B[0]: ',B[0])
A[0] = "hard rock"
print('B[0]: ',B[0])

B[0]:  banana
B[0]:  banana

#### Quiz

In [23]:
# Create a list a_list with elements 1, hello, [1,2,3] and True
a_list = [1,'hello',[1,2,3],True]
a_list

[1, 'hello', [1, 2, 3], True]

In [24]:
# Find the value stored at index 1 of a_list
print(a_list[0])

1

In [25]:
# Retrieve the elements at index 1,2,3 of a_list
a_list[1:4]

['hello', [1, 2, 3], True]

In [26]:
# Concatenate the lists A = [1, 'a'] and  B = [2, 1, 'd']
A = [1, 'a'] 
B = [2, 1, 'd']
C = A + B
print(C)

[1, 'a', 2, 1, 'd']