<a href="https://colab.research.google.com/github/sarabjeet050/Learning_Python/blob/main/2_3_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Set Content
##### A Set is a unique collection of objects. Denote with curly brackets {}. Python automatically removes the duplicate items in set.

In [7]:
# Create a set

set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [10]:
# Convert list to set
album_list = ["Michael Jackson","Thriller", 1982, "00:42:19",\
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [11]:
# Create list of genres to set
music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

#### Set Operations

In [12]:
# Sample Set
A = set(["Thriller", "Back in Black", "AC/DC"])
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [13]:
# Add element to set
A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

###### If add the same element twice, nothing will happen as there can be no duplictes in set.

In [14]:
# Try to add duplicate element in the set 
A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [15]:
# Remove an element from set using remove method
A.remove("NSYNC")
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [17]:
# Verify if the element is in set or not (using 'in')
"Thriller" in A

True

#### Set Operations
###### can check difference between the sets, as well as symmetric difference, union and intersection

In [23]:
# Consider Sample Sets
album_set1 = set(["Thriller", "AC/DC", "Back in Black"])
album_set2 = set(["AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [24]:
# Print two sets
album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

In [25]:
# Find the intersection of two sets (using &)
intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

In [26]:
# Find the difference in set1 but not set2 (all elements that are only contained in set1 using the difference method)
album_set1.difference(album_set2)
# only consider elements in album_set1 excluding intersection with album_set2 and no element of album_set2 after difference

{'Thriller'}

In [27]:
# Elements in album_set2 but not in album_set1 
album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

In [28]:
# Use intersection method between 2 sets (common of 2 sets)
album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [29]:
# Union of 2 sets (all elements in both sets)
album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

###### Checking Superset(container set of anoter sets) or Subset(is a part of another set)

In [30]:
# Check if superset
set(album_set1).issuperset(album_set2)

False

In [31]:
# Check if subset
set(album_set1).issubset(album_set2)

False

In [32]:
# Here examples where issubset(), issuperset() returns True

In [33]:
# Check is superset
set(["Back in Black", "AC/DC"]).issubset(album_set1)

True

In [34]:
# Check is subset
album_set1.issuperset({"Back in Black", "AC/DC"})

True

#### Quiz on Sets

In [35]:
# Convert given list to set
list1 = ["rap", "house", "electronic music", "rap"]
set(list1)

{'electronic music', 'house', 'rap'}

In [39]:
# Consider given sets for sum(A) = sum(B)
A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])
print("the sum of A : ", sum(A))
print("the sum of B : ", sum(B))
print("Sum of A equals Sum of B : ",sum(A)==sum(B))

the sum of A :  6
the sum of B :  3
Sum of A equals Sum of B :  False

In [41]:
# Create a new set album_set3 union of given sets
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set3 = album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [42]:
# Find if album_set1 is subset of album_set3
album_set1.issubset(album_set3)

True