<a href="https://colab.research.google.com/github/sarabjeet050/Learning_Python/blob/main/3_1_Conditions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Comparision Operators

###### Comparision operations compare some value or operand and, based on a condition, they produce a Boolean(True or False). 

###### Binary operators(comparing 2 values):
*   equal(==)
*   not equal(!= or <>)
*   greater than(>)
*   less than(<)
*   greater than or equal to(>=)
*   less than or equal to(<=)

In [1]:
# Condition equal (==)
a = 5 # value 5 is assigned to a
a == 6 # equality operator(==) checks if two values are equal, here variable a compares with 6 
# Result is False as 5 doesn't equal to 6

False

In [2]:
# Greater than Sign (>)
i = 6 # assign a to 6
i > 5 # here compare (left operand)6 > 5(right operand), which is True

True

In [4]:
# Greater than sign (>)
i = 2 
i > 5 # here 2 is not greater than 5, hence result False

False

In [5]:
# Inequality Sign (!=)
i = 2 # variable i assigned to 2
i != 6 # here 2 not equal to 6, hence result True

True

In [6]:
# Inequality Sign (!=)
i = 6 # variable i assigned to 6
i != 6  # here 6 not equal to 6 which is not True, hence result False

False

##### Same methods applied to strings.

In [8]:
# Use Equality sign to compare the strings
"ABCD" == "Michael Jackson" # here left and right strings unequal hence result False

False

In [9]:
# Use Inequality sign to compare the strings
"ABCD" != "Michael Jackson" # here left and right strings not equal hence result True

True

###### Inequality operation is used to compare the letters/words/symbols according to the ASCII value of letters.
###### For e.g. the ASCII code for '!' is 21, while for '+' is 43. Hence "+" is greater than ! as 43 > 21. ASCII for uppercase letters(A-Z) is (65-90) and lowercase letters(a-z) is (97-122). Thus lowercase > uppercase letters. Hence in python comparision is case sensitive.

In [17]:
# Compare characters
#ord('B') # 98
#ord('A') # 97
'B' > 'A' # 98 > 97, hence True

True

In [18]:
# Compare characters
'BA' > 'AB' # here first letter of left and right side are compared if equal then preceed to next letters.
# here left 'B' i.e. 98 is greater than rigth 'A' i.e. 97

True

###### Branching

###### Branching allows to run different statements for different inputs. Think *if statement* a locked room, if the statement is True, can enter a room and program will run some predefined tasks, but if the statement is False the program will ignore the task.

In [3]:
# if statement example

age = 19 # if this age, if condition be True, further indent code wiil be considered.
# age = 18 # if this age, if condition be False, further indent code will be ignored. 

#  expression that can be True or False
if age > 18 :

  # within the indented block of code, we have expression that will run if the condition is True
  print("You can enter")

# The statements after if statement will run regardless if the condition is True or False
print("Move on")

You can enter
Move on

###### if "if condition" False then else statement will run

In [6]:
# Else statement example

# age = 18 # here if condition : False, else condition executes
age = 19 # here if condition : True, hence executes

if age > 18 : 
  print("You can enter") # executes when if statement is True
else: 
  print("Go see Meat Loaf") # executes when if statement is False

print("Move On") # out if-else condition, so always print

You can enter
Move On

###### elif statement (short for else if), allows to check for additional condition if the condition statement before elif is False, otherwise if elif condition is False , alternate statement will execute

In [11]:
# Elif statement example  

age = 18 # elif condition executes
# age = 19 # if condition executes
# age = 17 # else executes

if age > 18 :
  print("You can enter")
elif age == 18 :
  print("Go see Pink Floyd")
else:
  print("Go see Meat Loaf")

print("Move on")

Go see Pink Floyd
Move on

In [12]:
# Condition Statement Syntax
# if (condition) : 
#   do something # this indent code block executes when if condition is True 
# else: 
#   do something # this indent code block executes when if condition is False

In [16]:
# Condition statement example
# album_year = 1983 # if executes
album_year = 1970 # else executes

if album_year > 1980 :
  print("Album year is after 1980")
else : 
  print("Album year is before 1980")

print("do something..") # always executes as out after if-else

Album year is before 1980
do something..

#### Logical Operators
###### Logical operators helps to combine or modify more than one condition at once.
*   and
*   or
*   not

###### "and" statement is only True when both conditions are True. 
###### "in" statement is True when any of conditions are True.
###### "not" statement outputs the opposite truth value(True: False, False: True).

In [18]:
# Condition statement example

album_year = 1980

if (album_year > 1979) and (album_year < 1990) :
  print("Album was not made in 1980's")
else: 
  print("Album was made in 1980's")

Album was not made in 1980's

###### The not statement checks if the statement is False

In [19]:
# Condition statement example
album_year = 1983
if not(album_year == 1984):
  print("Album year is not 1984")

Album year is not 1984

#### Quiz on Conditons

In [20]:
# Write an if statement to determine if an album had a rating greater than 8. Test it using rating of the album "Back in Black" that had a rating of 8.5.
# If the statement is True print "This album is amazing!" 

album_rating = {"Back in Black": 8.5}
if album_rating['Back in Black'] > 8:
  print("This Album is amazing!")

This Album is amazing!

In [21]:
# Use if-else. If rating is greater than 8, print "the album is amazing!". If rating if less than or equal to 8, print "the album is ok"

# album_rating = {"Back in Black": 8.5} # if True
# album_rating = {"Back in Black": 8} # else True
album_rating = {"Back in Black": 7.5} # else True
if album_rating['Back in Black'] > 8:
  print("This Album is amazing!")
else: 
  print("This Album is ok")

This Album is ok

In [26]:
# Write an if statement to determine if an album came out before 1980 or in the years: 1991 or 1993. If condition is True print the year of album came out.
album_year = 1979 # if True
# album_year = 1991 # first elif True
# album_year = 1993 # second elif True
if album_year < 1980 :
  print("Album came out before 1980 in ", album_year)
elif album_year == 1991 :
   print("Album came out in ", album_year)
elif album_year == 1993 :
  print("Album came out in ", album_year)

Album came out before 1980 in  1979